USE [master]
GO
/****** Object:  Database [TiendaSOAPDB]    Script Date: 09/09/2026 18:19:15 ******/
CREATE DATABASE [TiendaSOAPDB]
 GO
USE [TiendaSOAPDB]
GO
/****** Object:  Table [dbo].[Categoria]    Script Date: 09/09/2026 18:19:16 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Categoria](
	[IdCategoria] [int] IDENTITY(1,1) NOT NULL,
	[Nombre] [nvarchar](50) NOT NULL,
	[Descripcion] [nvarchar](150) NOT NULL,
	[Estado] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[IdCategoria] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Movimiento_Inventario]    Script Date: 09/09/2026 18:19:16 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Movimiento_Inventario](
	[IdMovimiento] [int] IDENTITY(1,1) NOT NULL,
	[IdProducto] [int] NOT NULL,
	[TipoMovimiento] [varchar](10) NOT NULL,
	[Cantidad] [int] NOT NULL,
	[FechaMovimiento] [datetime] NOT NULL,
	[Usuario] [nvarchar](50) NOT NULL,
	[Observacion] [nvarchar](200) NULL,
PRIMARY KEY CLUSTERED 
(
	[IdMovimiento] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Producto]    Script Date: 09/09/2026 18:19:16 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Producto](
	[IdProducto] [int] IDENTITY(1,1) NOT NULL,
	[Nombre] [nvarchar](50) NOT NULL,
	[Descripcion] [nvarchar](150) NOT NULL,
	[Precio] [decimal](10, 2) NOT NULL,
	[Stock] [int] NOT NULL,
	[Estado] [bit] NOT NULL,
	[IdCategoria] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[IdProducto] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Categoria] ON 

INSERT [dbo].[Categoria] ([IdCategoria], [Nombre], [Descripcion], [Estado]) VALUES (1, N'Bebidas', N'Bebidas frías y calientes', 1)
INSERT [dbo].[Categoria] ([IdCategoria], [Nombre], [Descripcion], [Estado]) VALUES (2, N'Snacks', N'Pasabocas y golosinas', 1)
INSERT [dbo].[Categoria] ([IdCategoria], [Nombre], [Descripcion], [Estado]) VALUES (3, N'Aseo', N'Productos de limpieza e higiene', 1)
SET IDENTITY_INSERT [dbo].[Categoria] OFF
GO
SET IDENTITY_INSERT [dbo].[Movimiento_Inventario] ON 

INSERT [dbo].[Movimiento_Inventario] ([IdMovimiento], [IdProducto], [TipoMovimiento], [Cantidad], [FechaMovimiento], [Usuario], [Observacion]) VALUES (1, 1, N'ENTRADA', 50, CAST(N'2026-09-08T19:55:41.017' AS DateTime), N'jacosta', N'Compra a proveedor inicial')
INSERT [dbo].[Movimiento_Inventario] ([IdMovimiento], [IdProducto], [TipoMovimiento], [Cantidad], [FechaMovimiento], [Usuario], [Observacion]) VALUES (2, 1, N'SALIDA', 10, CAST(N'2026-09-08T19:55:41.017' AS DateTime), N'jnavarro', N'Venta mostrador')
INSERT [dbo].[Movimiento_Inventario] ([IdMovimiento], [IdProducto], [TipoMovimiento], [Cantidad], [FechaMovimiento], [Usuario], [Observacion]) VALUES (3, 2, N'ENTRADA', 30, CAST(N'2026-09-08T19:55:41.017' AS DateTime), N'jacosta', N'Reposición de stock')
SET IDENTITY_INSERT [dbo].[Movimiento_Inventario] OFF
GO
SET IDENTITY_INSERT [dbo].[Producto] ON 

INSERT [dbo].[Producto] ([IdProducto], [Nombre], [Descripcion], [Precio], [Stock], [Estado], [IdCategoria]) VALUES (1, N'Coca Cola 500ml', N'Gaseosa botella plástica', CAST(1.35 AS Decimal(10, 2)), 90, 1, 1)
INSERT [dbo].[Producto] ([IdProducto], [Nombre], [Descripcion], [Precio], [Stock], [Estado], [IdCategoria]) VALUES (2, N'Papas Lays', N'Funda de papas fritas 45g', CAST(0.80 AS Decimal(10, 2)), 60, 1, 2)
INSERT [dbo].[Producto] ([IdProducto], [Nombre], [Descripcion], [Precio], [Stock], [Estado], [IdCategoria]) VALUES (3, N'Jabón Protex', N'Jabón de tocador antibacterial', CAST(1.10 AS Decimal(10, 2)), 40, 1, 3)
SET IDENTITY_INSERT [dbo].[Producto] OFF
GO
ALTER TABLE [dbo].[Categoria] ADD  DEFAULT ((1)) FOR [Estado]
GO
ALTER TABLE [dbo].[Movimiento_Inventario] ADD  DEFAULT (getdate()) FOR [FechaMovimiento]
GO
ALTER TABLE [dbo].[Producto] ADD  DEFAULT ((1)) FOR [Estado]
GO
ALTER TABLE [dbo].[Movimiento_Inventario]  WITH CHECK ADD  CONSTRAINT [FK_Movimiento_Producto] FOREIGN KEY([IdProducto])
REFERENCES [dbo].[Producto] ([IdProducto])
GO
ALTER TABLE [dbo].[Movimiento_Inventario] CHECK CONSTRAINT [FK_Movimiento_Producto]
GO
ALTER TABLE [dbo].[Producto]  WITH CHECK ADD  CONSTRAINT [FK_Producto_Categoria] FOREIGN KEY([IdCategoria])
REFERENCES [dbo].[Categoria] ([IdCategoria])
GO
ALTER TABLE [dbo].[Producto] CHECK CONSTRAINT [FK_Producto_Categoria]
GO
ALTER TABLE [dbo].[Movimiento_Inventario]  WITH CHECK ADD  CONSTRAINT [CK_Movimiento_Cantidad] CHECK  (([Cantidad]>(0)))
GO
ALTER TABLE [dbo].[Movimiento_Inventario] CHECK CONSTRAINT [CK_Movimiento_Cantidad]
GO
ALTER TABLE [dbo].[Movimiento_Inventario]  WITH CHECK ADD  CONSTRAINT [CK_Movimiento_TipoMovimiento] CHECK  (([TipoMovimiento]='SALIDA' OR [TipoMovimiento]='ENTRADA'))
GO
ALTER TABLE [dbo].[Movimiento_Inventario] CHECK CONSTRAINT [CK_Movimiento_TipoMovimiento]
GO
USE [master]
GO
